.vscode
.idea
test
.env
/ChatHandSystemServer/node_modules
/ChatHandSystemServer/dist

/DataHandSystemServer/node_modules
/DataHandSystemServer/dist

/NoteHandSystemServer/node_modules
/NoteHandSystemServer/dist

/ReHybSystemServer/node_modules
/ReHybSystemServer/dist


/MediaHandSystemServer/node_modules
/MediaHandSystemServer/dist